body
{
  /* Titanium's default.css turns user select to none */
  -webkit-user-select: text;
  background-color: #eeeeee;
}

.link {
  cursor: pointer;
  color: #0000ff;
  text-decoration: underline;
}
